In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({"a":[1,2,None], "b":[1,2,3]})

In [7]:
df[df.isnull().T.any()]

    a  b
2 NaN  3

In [18]:
df.sort_values(by=['b'], ascending=False)

     a  b
2  NaN  3
1  2.0  2
0  1.0  1

In [20]:
df.sort_index(ascending=False)

     a  b
2  NaN  3
1  2.0  2
0  1.0  1

In [28]:
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                    'spider', 'snake'],
                         'Number_legs': [4, 2, 4, 8, 3]})
df["Number_legs"].rank(method='max')

0    4.0
1    1.0
2    4.0
3    5.0
4    2.0
Name: Number_legs, dtype: float64

In [42]:
r = dict(list(df.groupby('Animal')['Number_legs']))
r['cat']

0    4
Name: Number_legs, dtype: int64

In [45]:
df.groupby('Animal').agg([('Number_legs', mean)])

NameError: name 'mean' is not defined